:root { 
--gray_600:#757575; 
--blue_gray_50_01:#e7eff2; 
--gray_500:#a3a3a3; 
--blue_gray_100:#cccccc; 
--gray_600_01:#727272; 
--deep_orange_A200:#f46041; 
--blue_gray_50:#eff0f6; 
--gray_900_dd:#1d1d1ddd; 
--gray_900_99:#0d084299; 
--gray_900:#1d1d1d; 
--blue_gray_500:#6e6b8f; 
--gray_900_01:#0d0842; 
--amber_A200:#f6cf3c; 
--gray_300:#d9dbe9; 
--orange_300:#f3b953; 
--gray_300_01:#d8e5e5; 
--gray_100:#f1f0fe; 
--teal_300:#60c697; 
--black_900:#000000; 
--yellow_800:#fdaf17; 
--deep_purple_A200:#8170f2; 
--white_A700:#ffffff; 
}